.profile-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-header {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  text-align: center;
  font-weight: bold;
}

.username-section {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.username-section p {
  font-size: 1.2rem;
  color: #555;
}

.quiz-attempts-header {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 15px;
}

.quiz-archive {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quiz-archive-item {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.quiz-archive-item h4 {
  font-size: 1.1rem;
  color: #333;
}

.quiz-archive-item p {
  font-size: 1rem;
  color: #666;
}
